body {
    background-color: burlywood;
}

article {
    margin: auto;
    width: 75%;
}

form {
    margin: auto;
    width: 80%;
}

form button {
    display: flex;
    align-self: flex-end;
}

#inputDiv {
    display: flex;
    flex-direction: column;
}

table {
    margin: 50px auto;
    text-align: center;
}

header, footer {
    text-align: center;
}
